.mean-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .balance-title{
    width: 100%;
    margin: 0px 0 20px 0;
  }
  
  .balance-title h2{
    font-size: 22px;
    color: black;
  }
  
  .balance-title p{
    font-size: 14px;
    color: #909096;
  }
  
  .data-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .balance-details, .bills, .investment{
    width: 32%;
    max-width: 420px;
    min-width: 320px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: white;
    padding: 15px;
  }
  
  .balance-details-div{
     margin: 5px 0;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 10px;
  }
  
  .balance-details-div span{
    color:rgb(84, 84, 86);
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .balance-details-div button{
    display: block;
    color: blue;
    font-size: 12px;
    width: 110px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
  }
  
  .calendar-icon{
    margin-right: 7px;
  }
  
  .total-balance{
    margin-bottom: 20px;
  }
  
  .total-balance p{
    font-size: 16px;
    color:#9197ab;
    margin-bottom: 2px;
  }
  
  .total-balance span{
    font-size: 36px;
    color:black;
    font-family:monospace, Helvetica, sans-serif, Courier, monospace;
  }
  
  .other-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .other-total div{
    width: 130px;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  
  .other-total div p{
    font-size: 10px;
    color:#9197ab;
    margin-bottom: 5px;
  }
  
  .other-total div h3{
    font-size: 24px;
    font-weight: 400;
    font-family: monospace, Helvetica, sans-serif, Courier;
  }
  
  .bills-div{
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bills-div span{
    color:rgb(84, 84, 86);
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .bills-div button{
    display: block;
    color: blue;
    font-size: 12px;
    width: 110px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
  }
  
  .bills-p{
    color: #9197ab;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .will-pay{
    max-width: 290px;
    min-width: 190px;
    height: 50px;
    background-color: #f6f9fe;
    border: 1px solid #7fa9f0;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 15px;
  }
  
  .will-pay div button{
    background-color: #3478e8;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    font-size: 10px;
  }
  
  .will-pay div span{
    font-size: 14px;
    font-weight: 600;
  }
  
  .will-pay div p{
    font-size: 14px;
  }
  
  .bills > span {
    display: block;
    width: 85px;
    color: #3478e8;
    margin: 0 auto;
  }
  
  .bills > span:hover {
    cursor: pointer;
    color: #588ce0;
  }
  
  .investment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .investment > span{
    display: block;
    color:rgb(84, 84, 86);
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 8px;
  }
  
  .investment-balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .investment-balance h3{
    font-size: 36px;
    color: black;
    font-family: monospace, Helvetica, sans-serif, Courier, monospace;
    font-weight: 500;
  }
  
  .investment-balance span{
    display: block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #e7effc;
    color: blue;
    font-size: 13px;
    padding: 5px 10px;
  }
  
  #chart{
    margin-top: 20px;
  }

  .cards h4{
    color:rgb(84, 84, 86);
    font-size: 16px;
    letter-spacing: 2px;
    margin: 30px 0 15px 0;
  }
  
  .your-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .your-cards div{
    margin-right: 20px;
  }
  
  .your-cards div:last-child{
    margin-right: 0;
  }
  
  .your-card{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    color: white;
  }
  
  .your-card > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
  }
  .your-card > div:nth-child(2) p{
    color:#b3cfff;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .your-card > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .card-name {
    font-size: 10px;
  }
  
  .your-card > div > span{
    position: absolute;
    display: block;
    font-size: 50px;
    top: -16px;
    right: -18px;
  }
  
  .card-date{
    display: flex;
    justify-content: flex-end;
  }
  
  .card-date span:nth-child(1){
    font-size: 6px;
    display: block;
    height: 15px;
    width: 18px;
  }
  
  .card-date b{
    font-size: 10px;
    margin: 0 5px;
  }
  
  .visa-logo{
    display: block;
    position: relative;
    height: 15px;
    width: 35px;
  }
  
  .visa-logo::after, .visa-logo::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .visa-logo::after{
    top: -5px;
    left: 2px;
  }
  
  .visa-logo::before{
    top: -5px;
    right: 0;
  }
  
  .lite-blue{
    background-color: #126aff;
  }
  
  .dark-blue{
    background-color: #063aa8;
  }
  
  .lite-green{
    background-color: #0fbe7b;
  }
  
  .lite-red{
    background-color: #fe346e;
  }